body    {
    background-color: teal;
}

h1      {
    color: coral;
}

p       {
    color: firebrick;
    font-weight: bold;

}

ul      {
    font-family: Arial, Helvetica, sans-serif;
}

ol      {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}